<!-- <div *ngIf="started === true"> -->
  <router-outlet>

  <div *ngIf="currentQuestionIndex < questions.length && showDead === 'yes' && success === false">
  <div>
    <img [src]="deathImage" alt="Question Image">
    
    You are dead, motherfucker! 
    {{deathText}}
    <button (click)="retry()" class="bx--btn bx--btn--primary">Retry</button>
    </div>
</div>
<div *ngIf="currentQuestionIndex < questions.length && followUpQuestion === false && dead === false && success === false">
  <h1>Question {{ currentQuestionIndex + 1 }}</h1>
  <img [src]="imageLink2" alt="Question Image">
  <app-question
    [currentQuestionIndex]="currentQuestionIndex"
    [currentQuestion]="questions[currentQuestionIndex]"
    [selectAnswer]="selectAnswer.bind(this)"
    [nextQuestion]="nextQuestion.bind(this)"
    [selectedAnswer]="selectedAnswer">
  </app-question>
</div>

<div *ngIf="currentQuestionIndex < questions.length && followUpQuestion === true && dead === false && success === false">
  <h1>Question {{ currentQuestionIndex + 1 }}</h1>
  <img [src]="imageLink2" alt="Question Image">
  <app-question
    [currentQuestionIndex]="currentQuestionIndex"
    [currentQuestion]="followUpQuestions[currentQuestionIndex]"
    [selectAnswer]="selectAnswer.bind(this)"
    [nextQuestion]="nextQuestion.bind(this)"
    [selectedAnswer]="selectedAnswer"
    [imageLink2]="imageLink2">
  </app-question>
</div>
<!-- </div> -->
<div *ngIf="success">
  <div>You board the bus and it is evacuating you out of the city. You have survived the day.</div>
<img src="assets/final.jpg">
<button (click)="goToMainPage()" class="bx--btn bx--btn--primary">Go to start</button>
</div>
<!-- <div *ngIf="started === false">
  <app-submission></app-submission>
</div> -->
</router-outlet>