<router-outlet>
  <div class="outer">
    <div class="mbody">
    <p class="h5">{{ currentQuestion.questionText }}</p>
      <br>
    <div class="container" *ngFor="let answer of currentQuestion.answers">
      <label class="radio-label">
        <input class="radio-text"type="radio" name="answer" [value]="answer.value" (change)="selectAnswer(answer)">
        {{ answer.text }}
      </label>

    </div>
    <!-- <ibm-button>Hello, IBM Carbon Button!</ibm-button> -->
    <!-- <button (click)="nextQuestion()" [disabled]="!selectedAnswer">Next</button> -->
      <br>
    <button (click)="nextQuestion()" class="button1" [disabled]="!(selectedAnswer > -1)">CHOOSE</button>
  </div>
  </div>
</router-outlet>